body
{
    background-color:#2c2c2c;
    color: white;
}

form
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#f7f7f7;
    background-color:#1d1d1d;
    display: flex;
    flex-direction: column;
    width:fit-content;
}

.content
{
    display: flex;
    flex-direction: column;
}

input.field
{
    background-color:#edf5ff;

    color:#1d1d1d;
    border: none;
}
input::selection
{
    background-color:#84aad8;
}

select, textarea
{
    background-color:#edf5ff;
}




@media screen and (min-width: 639px)
{
    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header .container
    {
        font-size: 3vw;
        flex-direction: row;
        justify-content: space-between;
    }

    nav
    {
        flex-direction: row;
        justify-content: end;
        gap: 10px;
    }
    .title-logo
    {
        display: contents;
    }

    .logo
    {
        width: 85px;
        height: 85px;
    }

    #table
    {
        order:2;
    }

    #list
    {
        order:1;
    }
}
